.father {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.child-cards {
    width: 15rem;
    height: 28rem;
    margin-right: 10px;
    margin-left: 10px;
}
